# Extract Data from Relational databases
### SQLite Databases

In [1]:
# sqlite3 comes with anaconda, so we can use this out the gate
import sqlite3

### connect to the database

In [2]:
# create a conn to the db. if no db, this will create the db
connection = sqlite3.connect("classroomDB.db")
connection.close()

### create a table

In [3]:
#open the connection
connection = sqlite3.connect("classroomDB.db")
#open cursor
cursor = connection.cursor()
#create a table
create_table = """
                CREATE TABLE classroom (
                student_id INTEGER PRIMARY KEY,
                name VARCHAR(20),
                gender CHAR(1),
                physics_marks INTEGER,
                chemistry_marks INTEGER,
                mathematics_marks INTEGER
                );
                """
#exec the query
cursor.execute(create_table)
#commit
connection.commit()
#close the conn
connection.close()

OperationalError: table classroom already exists

### insert data

In [ ]:
# sample data
classroom_data = [(1, 'David',"M",83,33,23),
                  (2, 'Carol',"F", 94,23,44),
                  (3, 'Shiela',"F",35,67,89),
                  (4, 'Lisa',"F",11,22,33)]
#open
connection = sqlite3.connect("classroomDB.db")
#cursor
cursor = connection.cursor()
#insert records
for student in classroom_data:
    #format
    insert_statement = """INSERT INTO classroom
                        (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
                        VALUES
                        ({0},"{1}","{2}",{3},{4},{5});""".format(student[0],student[1],student[2],student[3],student[4],student[5])
    cursor.execute(insert_statement)
    
#commit
connection.commit()
connection.close()

### extract the data

In [ ]:
#open conn
connection = sqlite3.connect("classroomDB.db")
#open cur
cursor = connection.cursor()
#query
query = "SELECT * FROM classroom"
#exec
cursor.execute(query)
#fetch
result = cursor.fetchall()
#print
for row in result:
    print(row)
#close
connection.close()

# MySQL databases
### install if required

In [ ]:
!conda install -y -q pymysql

In [ ]:
import pymysql

### connect to an AWS database

In [ ]:
# Use AWS RDS to create a MySQL instance to check this works

cnx= {'host': 'classroomdb.cmjjuvawirql.eu-central-1.rds.amazonaws.com', #this is my instance, now deleted...
      'username': 'test',
      'password': 'test123456',
      'db': 'classroomDB'}       
        

# Connect to the database
connection = pymysql.connect(cnx['host'],cnx['username'],cnx['password'],cnx['db'] )

# close database
connection.close()

### create a table on the AWS MySQL database

In [ ]:
# open connection
connection = pymysql.connect(cnx['host'],cnx['username'],cnx['password'],cnx['db'] )
# open cursor
cursor = connection.cursor()
# query for creating table
create_table = """
                CREATE TABLE classroom ( 
                student_id INTEGER PRIMARY KEY, 
                name VARCHAR(20), 
                gender CHAR(1), 
                physics_marks INTEGER,
                chemistry_marks INTEGER,
                mathematics_marks INTEGER
              );"""
# execute query
cursor.execute(create_table)
# commit changes
connection.commit()
# close connection
connection.close()

### now insert data into AWS MySQL

In [ ]:
# sample data
classroom_data = [(1, 'David',"M",83,33,23),
                  (2, 'Carol',"F", 94,23,44),
                  (3, 'Shiela',"F",35,67,89),
                  (4, 'Lisa',"F",11,22,33)]
# open connection
connection = pymysql.connect(cnx['host'],cnx['username'],cnx['password'],cnx['db'] )
# open cursor
cursor = connection.cursor()
# insert each student record
for student in classroom_data:
    # formatted query string
    insert_statement = """INSERT INTO classroom 
                      (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
                      VALUES 
                      ({0}, "{1}", "{2}", {3}, {4}, {5});""".format(student[0], student[1], student[2], 
                                                              student[3],student[4], student[5])
    # execute insert query
    cursor.execute(insert_statement)

# commit the changes
connection.commit()
# close the connection
connection.close()

### extract the data

In [ ]:
# open connection
connection = pymysql.connect(cnx['host'],cnx['username'],cnx['password'],cnx['db'] )
# open cursor
cursor = connection.cursor()
# query
query = "SELECT * FROM classroom"
# execute query
cursor.execute(query) 
# fetch results
result = cursor.fetchall() 
# print results
for row in result:
    print(row)
# close connection
connection.close()

In [ ]:
# wow!   Also connected from laptop via Sequel Pro and checked the structure / contents of the table.  Amazing!

### Let's try MS SQL

In [ ]:
# install package
!conda install -y -q pymssql

In [ ]:
import pymssql

### connect to db

In [ ]:
cnx= {
      'host': 'mssqldb.cmjjuvawirql.eu-central-1.rds.amazonaws.com:1433',  #my created MsSQL instance on RDS
      'username': 'test',
      'password': 'test123456',
      'db': 'tempDB'} 

conn = pymssql.connect(cnx['host'], cnx['username'], cnx['password'], cnx['db'])
conn.close()

### create the table

In [ ]:
# open connection
connection = pymssql.connect(cnx['host'], cnx['username'], cnx['password'], cnx['db'])
# open cursor
cursor = connection.cursor()
# query for creating table
create_table = """
                CREATE TABLE classroom ( 
                student_id INTEGER PRIMARY KEY, 
                name VARCHAR(20), 
                gender CHAR(1), 
                physics_marks INTEGER,
                chemistry_marks INTEGER,
                mathematics_marks INTEGER
              );"""
# execute query
cursor.execute(create_table)
# commit changes
connection.commit()
# close connection
connection.close()

### insert the data

In [ ]:

classroom_data = [(1, 'Marcus',"M",83,33,23),
                  (2, 'Kate',"F", 94,23,44),
                  (3, 'Sherry',"F",35,67,89),
                  (4, 'Lisanne',"F",11,22,33)]

# open connection
connection = pymssql.connect(cnx['host'],cnx['username'],cnx['password'],cnx['db'] )
# open cursor
cursor = connection.cursor()
# insert each student record
for student in classroom_data:
    # formatted query string
    insert_statement = """INSERT INTO classroom 
                      (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
                      VALUES 
                      ({0}, '{1}', '{2}', {3}, {4}, {5});""".format(student[0], student[1], student[2], 
                                                              student[3],student[4], student[5])
    # execute insert query
    cursor.execute(insert_statement)

# commit the changes
connection.commit()
# close the connection
connection.close()

### extract

In [ ]:
# open connection
connection = pymssql.connect(cnx['host'],cnx['username'],cnx['password'],cnx['db'] )
# open cursor
cursor = connection.cursor()
# query
query = "SELECT * FROM classroom"
# execute query
cursor.execute(query) 
# fetch results
result = cursor.fetchall() 
# print results
for row in result:
    print(row)
# close connection
connection.close()

# REMEMBER TO DESTROY THE RDS INSTANCES SO I DON'T INCUR CHARGES