# Extract Data from Relational databases
### SQLite Databases

In [1]:
# sqlite3 comes with anaconda, so we can use this out the gate
import sqlite3

### connect to the database

In [2]:
# create a conn to the db. if no db, this will create the db
connection = sqlite3.connect("classroomDB.db")
connection.close()

### create a table

In [3]:
#open the connection
connection = sqlite3.connect("classroomDB.db")
#open cursor
cursor = connection.cursor()
#create a table
create_table = """
                CREATE TABLE classroom (
                student_id INTEGER PRIMARY KEY,
                name VARCHAR(20),
                gender CHAR(1),
                physics_marks INTEGER,
                chemistry_marks INTEGER,
                mathematics_marks INTEGER
                );
                """
#exec the query
cursor.execute(create_table)
#commit
connection.commit()
#close the conn
connection.close()

### insert data

In [6]:
# sample data
classroom_data = [(1, 'David',"M",83,33,23),
                  (2, 'Carol',"F", 94,23,44),
                  (3, 'Shiela',"F",35,67,89),
                  (4, 'Lisa',"F",11,22,33)]
#open
connection = sqlite3.connect("classroomDB.db")
#cursor
cursor = connection.cursor()
#insert records
for student in classroom_data:
    #format
    insert_statement = """INSERT INTO classroom
                        (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
                        VALUES
                        ({0},"{1}","{2}",{3},{4},{5});""".format(student[0],student[1],student[2],student[3],student[4],student[5])
    cursor.execute(insert_statement)
    
#commit
connection.commit()
connection.close()

### extract the data